.container
  .row
    .col.s8.offset-s2
      %h2.red-text.text-lighten-3 articles#new
      = form_for @article do |f|
        .row
          #preview-area
          .input-field
            = f.label "content", for: "md-textarea"
            = f.text_area :body, class: "materialize-textarea", id: "md-textarea"
        .row
          .col.s4
            .btn#markdown.disabled markdown
          .col.s4
            .btn#preview preview
          .col.s4
            = f.submit "send", class: "btn"